@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,900&display=swap');
* {
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
}



.Container {
  margin: 0 auto;
  width: 90%;
}

@media (min-width: 992px) {
  .Container {
    max-width: 768px;
    width: 90%;
    // border: 1px solid red;
  }
}

